$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
h1 {
  text-align: center;
}

.hero {
  height: 100%;
  width: 100%;
  background: url('../Images/onePunchMan.jpg');
  background-size: cover;
}

#sign-up, #sign-in, #change-password, #sign-out, #enter-workout, #delete-workout, #update-workout, #messageBanner {
  text-align: center;
}

// .avoid-clicks {
//   pointer-events: none;
// }
//
.hide-elements {
  display: none;
}
