$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
h1 {
  text-align: center;
}

#sign-up, #sign-in, #change-password, #sign-out, #new-game, #messageBanner, #totalGamesBanner, #get-games, .container {
  text-align: center;
}

// #gameBoard {
//   text-align: center;
//   margin: 25px auto;
//   height: 500px;
//   width: 500px;
// }
//
// .avoid-clicks {
//   pointer-events: none;
// }
//
// .hide-elements {
//   display: none;
// }
